.insight {
  position: absolute;
  top: 30%;
  right: 106%;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .insight {
    position: absolute;
    top: 100%;
    right: 30%;
    width: 200px;
  }
}
